<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="set_checkout_cart_swatches" instance="Skillup\Swatches\Observer\CheckoutCartAddProductComplete" />
    </event>
</config>
